body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header, footer {
    text-align: center;
    padding: 10px;
    background-color: #f8f8f8;
    position: relative;
}

nav {
    background-color: #333;
    overflow: hidden;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1000;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    position: relative;
}

nav ul li a {
    display: block;
    padding: 14px 20

}